.floor_types {
  display: inline;
  margin-top:50px;
  width: 250px;
  }

#box {
    color:gray;
    background-repeat: no-repeat;
    background-position:center;;
    text-align: center;
    font-family: sans-serif;
 }
#w, #l {
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    opacity: .8;
    margin-bottom: 10px;

  }
#w { margin-left:7px;}

#header, #infosqf, #sqft, #cost {
    font-family: inherit;
    font-size: 1.2em;
    }
#cost {margin-top: -29px;
background-color: yellow;}
#logo {
  margin-top: 200px;
  width: 400px;

  }

div#sqfOutput {
    font-family: fantasy;;
    color: darkgray;
    font-size: 40px;
    border-color: lightgray;
    border: .8px;
    border-style: solid;
    padding: 35px;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
      }
  #logoDiv {
    width:100%;
    text-align: center;
  }
  #floorsContainer {
    bottom:0px;
    display:block;
    position:fixed;
    text-align:center;
    width: 100%;
  }
