a link {
  text-decoration: none;
}
div {
  background-repeat: no-repeat;
}

div#costOutput {
    font-family: fantasy;;
    color: darkgray;
    font-size: 20px;
    border-color: lightgray;
    border: .8px;
    border-style: solid;
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    display: inline;
      }
span {
    margin-left: auto;
    margin-right:auto;
    color: white;
    font-size: 100px;
    margin-top:60px;
    opacity: .1;
      }
span:hover, .checkMarkGreen {
  opacity:.8;
  color:green;
  transition-property: all;
  transition-duration: .5s;
  }
.floorType {
    width:85px;
    height:85px;
    opacity:.7;
    display: inline-block;
    animation-name: out;
    transition-duration: 1s;
    border-radius: 180px;
}
.activeFLR {
    opacity:1;
    width:200px;
    height:250px;
    border-radius: 40px;
    transition-property: all;
    transition-duration: 1s;
}

#floorsContainer {
     display: inline;
}
#floatingbox {
  display:block;
  margin-top:30px;
  text-align:center;
  }
#carpet_Flooring {
    background-image: url("assets/carpet_Flooring.jpg");
    }
#hardwood_flooring {
     background-image: url("assets/hardwood_Flooring.jpg");
 }
#laminate_Flooring {
     background-image: url("assets/laminate_Flooring.jpg");
 }
#tile_Flooring  {
    background-image: url("assets/tile_Flooring.jpg");
}
.pricePerSQF {
   display: inline;
   font-family: arial, helvetica, monospace;
   font-size: 5em;
   color: white;
   font-weight: bold;
   padding-left: 10px;
   padding-right:10px;
   opacity: .3;
   position: relative;
   top:60px;
 }
#box {
    color:gray;
    text-align: center;
    font-family: sans-serif;
    display:block;
    position: relative;

 }
#w, #l {
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: white;
    padding: 2px;
    opacity: .8;
    margin-bottom: 10px;
    position: relative;
    font-size: 1em;
    font-family: arial;
  }
#w { margin-left:7px;}

#header, #infosqf, #sqft, #cost {
    font-family: inherit;
    font-size: 1.2em;
    }

#logo {
  margin-top: 100px;
  width: 400px;
  }

  #logoDiv {
    width:100%;
    text-align: center;
  }
  #floorsContainer {
    display: block;
    padding:50px;
    text-align: center;
    width: 100%;
      }
