.floor_types {
  display: inline;
  width: 250px;
  position: relative;
  }

#box {
    color:gray;
    text-align: center;
    font-family: sans-serif;
    display:block;
    position: relative;

 }
#w, #l {
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: lightgray;
    padding: 2px;
    opacity: .8;
    margin-bottom: 10px;
    position: relative;

  }
#w { margin-left:7px;}

#header, #infosqf, #sqft, #cost {
    font-family: inherit;
    font-size: 1.2em;
    }

#logo {
  margin-top: 200px;
  width: 400px;

  }

div#sqfOutput {
    font-family: fantasy;;
    color: darkgray;
    font-size: 40px;
    border-color: lightgray;
    border: .8px;
    border-style: solid;
    padding: 35px;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
      }
  #logoDiv {
    width:100%;
    text-align: center;
  }
  #floorsContainer {
    display: block;
    text-align: center;
    width: 100%;
    margin-top:80px;
  }
